@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
body{
    background-color: rgb(221, 221, 221);
}
header{
    background-color: grey;
    border-bottom: 1px solid black;
}
header h1{
    text-align: center;
}
menu ul{
    list-style-type: none;
    display: flex;
}
menu li{
    margin: 2px 10px;
    padding: 2px 15px;
    background-color: lightgray;
    border-radius: 20px;
}
article{
    max-width: 980px;
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
    border-radius: 5px;
}
article h2{
    text-align: center;
    margin: 0 5px 10px 5px;
    padding-top: 5px;
}
article p{
    line-height: 1.5em;
    text-align: justify;
    padding: 5px 10px;
    margin-bottom: 5px;
}