@font-face {
    font-family: 'droid'; /*Aqui você define o nome*/
    src: url('../pacote-projeto-d010/fontes/idroid.otf') format("opentype"); /*existe o otf também, há depender do navegador um funciona melhor que o outro*/
    font-weight: normal; /*Dizer que funciona melhor no normal*/
    font-style: normal;
}
body{
    background-color: #84E1AD;
    font-family: Arial, Helvetica, sans-serif;  
    width: auto;
    height: auto;  
    margin: 0 auto 0 auto;
}
header{
    background-image: linear-gradient(to bottom, #5AE196, #123d25);
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 2px #0000004f;
}
header > h1{
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 2px #0000004f;
    margin-top: 0;
    padding-top: 10px;
    font-size: 3em;
}
header > p{
    margin: 35px 0;
    font-size: 14px;
    color: rgb(236, 236, 236);
    text-align: center;
    text-shadow: 2px 2px 2px #0000004f;
}
nav{
    font-weight: bold;
    padding-bottom: 5px;
}
nav > a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 20px;
}
nav > a:hover{
    text-decoration: underline;
}
main{
    background-color: #ffffff;
    margin: auto;
    width: 980px;
    height: auto;
    padding: 0 20px 5px 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 2px #0000004f;
}
main > h1#titulo_principal{
    margin-top: 0;
    padding-top: 20px; 
}
main > h1,h2{
    font-family: 'droid';
    color: #1c5e3b;
}
main p{
    text-align: justify;
    text-indent: 2em;
    font-size: 18px;
}
article > img{
    width: 980px;
    height: auto;
}
article > h2{
    background-image: linear-gradient(to right,#9ef0c2, #ffffff );
    padding-left: 5px;    
}
main span{
    color: #1c5e3b;
    font-weight: bold;
}
#video{
    width: 950px; 
    height: 500px;
    margin: auto;
    border: 10px solid #1c5e3b;
}
#conteudo_extra > article > h3,#conteudo_lista{
    padding: 0 10px 1px 10px;
    box-shadow: 2px 2px 2px #0000004f;
}
#conteudo_extra  h3{
    color: white;
    background-color: #2FA866;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;   
}
#conteudo_extra #conteudo_lista{
    background-color: #9ef0c2;
    border-radius: 0 0 5px 5px;
}
#conteudo_extra p#paragrafo_lista{
    margin-top: 0;
    padding-top: 10px;
}
footer{
    margin: auto;
    width: 100%;  
    background-color: #123d25;
    box-shadow: 2px 2px 2px #0000004f;    
}
footer p{
    text-align: center;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 0;
}
footer span{
    font-weight: bold;    
}
