/*Tudo no mesmo lugar*/

/*Declarações Gerais*/

@media all{
    *{
        margin: 0;
        padding: 0;
    }
    body{
        width: 100vw;
        height: 100vh;
        background-color: blue;
        background-size: contain;
        background-repeat: no-repeat;
    }
    h1{
        color: white;
    }
}

/*Declarações Retrato*/

@media screen and (orientation: portrait){
    body{
        background-image: url(../../imagens/cev-portrait.jpg);
        background-position: center bottom;
    }
}
/*Declarações Paisagem*/

@media screen and (orientation: landscape){
    body{
        background-image: url(../../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }
}